<!DOCTYPE html>
<html>
    <head>
        <title>Single Page</title>
    </head>
    <body>
        <h1>Hello</h1>
        <button id="btn-1" data-section="1" value="jeu.js">Jeu</button>
        <button id="btn-2" data-section="2" value="tournoi.js">Tournoi</button>
        <button id="btn-3" data-section="3" value="ordinateur.js">Ordinateur</button>

        <!-- Contents loaded from server is inserted here by javascript -->
        <div id="content">

        </div>
    
    </body>
    {% load static %}
    <script id="script_js" src="{% static 'index.js' %}" defer></script>
</html>